<div class="form-group">
    @Html.Label("Function Types", htmlAttributes: new { @class = "control-label col-md-2"})
    <div class="col-md-3">
        @Html.DropDownList("FTypes",null, new { @class="multiselect form-control"})
    </div>
</div>